[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

daemons = "*"
python-telegram-bot = "*"
docopt = "*"


[dev-packages]



[requires]

python_version = "3.6"
